# List of Tuple and tuple operations

In [1]:
lot = [('T001','Amigos','Blue'),('T002','Thunder','Red'),('T003','Rainbow','White')]

In [2]:
for i in lot:
  print(i[0])

print(lot[0])
print(lot[1])
print(lot[2])

T001
T002
T003
('T001', 'Amigos', 'Blue')
('T002', 'Thunder', 'Red')
('T003', 'Rainbow', 'White')

In [4]:
print(lot[0][0])
print(lot[0][2])

print('******')
for i in lot:
  print(i[1])

T001
Blue
******
Amigos
Thunder
Rainbow

# How to Open text file and read from it

In [ ]:
a=open('/content/sample_data/name.txt','r')

In [ ]:
name = a.read()

In [ ]:
print(name)

Amigos

  # Connect Database:

  1. Create connection
  2. Crate cursor
  3. Execute query
  4. Close cursor
  5. close connection

In [12]:
import psycopg2, os, sys #import this to establish connection and create cursor.

In [13]:
database = 'flis'
user = 'postgres'
password = 'sidjadhav0602'
port = '5432'
host = 'localhost'

In [27]:
#establish connection and then pass the credentials of user name, password , port and host.
conn = None
try:
  conn = psycopg2.connect(database=database,user=user,password = password,port=port,host=host)
  print("Connection Successful!")
  cur = conn.cursor()
  cur.execute("select * from players")
  result = cur.fetchall()
  print(result)
  print("Size of result tuple: ",len(result[0]))
  for i in result:
    print(i[0],i[1])
  
except(Exception,psycopg2.DatabaseError) as error:  
  print(error)

finally:
  if conn is not None:
    conn.close()

Connection Successful!
[('P1001', 'Rudra', datetime.date(2003, 5, 1), 99, 'T0001'), ('P1002', 'Advik', datetime.date(2004, 6, 1), 89, 'T0001'), ('P1003', 'Adi', datetime.date(2003, 5, 7), 79, 'T0001'), ('P1004', 'veer', datetime.date(2003, 8, 12), 69, 'T0001'), ('P1005', 'Ahmed', datetime.date(2003, 9, 13), 59, 'T0001'), ('P1006', 'Viyan', datetime.date(2002, 10, 14), 49, 'T0001'), ('P1007', 'Pramav', datetime.date(2003, 11, 15), 39, 'T0001'), ('P1008', 'Shlok', datetime.date(2005, 12, 16), 29, 'T0001'), ('P1009', 'Madhav', datetime.date(2004, 1, 17), 19, 'T0001'), ('P1011', 'Adam', datetime.date(2003, 3, 19), 1, 'T0001'), ('P1012', 'Aarush', datetime.date(2003, 4, 20), 20, 'T0001'), ('P2001', 'Kiaan', datetime.date(2003, 12, 30), 1, 'T0002'), ('P2002', 'Rudrash', datetime.date(2004, 11, 29), 2, 'T0002'), ('P2003', 'Tanish', datetime.date(2002, 10, 28), 3, 'T0002'), ('P2004', 'Anand', datetime.date(2001, 9, 27), 4, 'T0002'), ('P2005', 'Bhaskar', datetime.date(2005, 8, 24), 5, 'T0002'), ('P2006', 'Arup', datetime.date(2003, 7, 23), 6, 'T0002'), ('P2007', 'Srihan', datetime.date(2003, 6, 20), 7, 'T0002'), ('P2008', 'Advit', datetime.date(2003, 5, 15), 10, 'T0002'), ('P2009', 'Raghav', datetime.date(2003, 4, 12), 11, 'T0002'), ('P2010', 'Krishna', datetime.date(2003, 3, 9), 12, 'T0002'), ('P2011', 'Manas', datetime.date(2004, 2, 8), 13, 'T0002'), ('P2012', 'Zayan', datetime.date(2003, 1, 1), 14, 'T0002'), ('P3001', 'Daksh', datetime.date(2003, 12, 30), 10, 'T0003'), ('P3002', 'Aditya', datetime.date(2004, 11, 29), 26, 'T0003'), ('P3003', 'Jay', datetime.date(2004, 10, 28), 34, 'T0003'), ('P3004', 'Ravi', datetime.date(2001, 9, 27), 39, 'T0003'), ('P3005', 'Suman', datetime.date(2004, 8, 24), 40, 'T0003'), ('P3006', 'Souvik', datetime.date(2003, 7, 22), 51, 'T0003'), ('P3007', 'Tanmoy', datetime.date(2005, 6, 20), 56, 'T0003'), ('P3008', 'Arijit', datetime.date(2003, 5, 15), 74, 'T0003'), ('P3009', 'Shivansh', datetime.date(2003, 4, 22), 84, 'T0003'), ('P3010', 'Elvin', datetime.date(2005, 3, 9), 93, 'T0003'), ('P3011', 'Kabir', datetime.date(2003, 2, 8), 16, 'T0003'), ('P3012', 'Joseph', datetime.date(2002, 1, 1), 15, 'T0003'), ('P4001', 'William', datetime.date(2003, 12, 30), 10, 'T0004'), ('P4002', 'James', datetime.date(2004, 11, 29), 31, 'T0004'), ('P4003', 'Issac', datetime.date(2004, 10, 28), 44, 'T0004'), ('P4004', 'Max', datetime.date(2001, 9, 22), 55, 'T0004'), ('P4005', 'Teddy', datetime.date(2004, 8, 24), 65, 'T0004'), ('P4006', 'Finley', datetime.date(2003, 6, 22), 71, 'T0004'), ('P4007', 'Jack', datetime.date(2005, 6, 20), 66, 'T0004'), ('P4008', 'henry', datetime.date(2003, 5, 15), 44, 'T0004'), ('P4009', 'Harry', datetime.date(2003, 4, 22), 88, 'T0004'), ('P4010', 'Charlie', datetime.date(2005, 3, 9), 93, 'T0004'), ('P4011', 'George', datetime.date(2003, 2, 8), 17, 'T0004'), ('P4012', 'Alexander', datetime.date(2002, 1, 1), 29, 'T0004'), ('P5001', 'Mark', datetime.date(2002, 5, 22), 15, 'T0005'), ('P5002', 'Donald', datetime.date(2004, 11, 29), 10, 'T0005'), ('P5003', 'Steven', datetime.date(2004, 10, 28), 61, 'T0005'), ('P5004', 'Paul', datetime.date(2001, 9, 23), 17, 'T0005'), ('P5005', 'Andrew', datetime.date(2004, 8, 24), 18, 'T0005'), ('P5006', 'Joshua', datetime.date(2003, 7, 22), 7, 'T0005'), ('P5007', 'Kevin', datetime.date(2005, 6, 22), 8, 'T0005'), ('P5008', 'Charles', datetime.date(2003, 5, 15), 89, 'T0005'), ('P5009', 'George', datetime.date(2000, 4, 22), 99, 'T0005'), ('P5010', 'Stephen', datetime.date(1999, 3, 9), 16, 'T0005'), ('P5011', 'Jack', datetime.date(2000, 2, 8), 26, 'T0005'), ('P5012', 'Jerry', datetime.date(2000, 1, 1), 3, 'T0005'), ('P6001', 'Mark', datetime.date(2002, 5, 22), 15, 'T0006'), ('P6002', 'Robert', datetime.date(2004, 11, 28), 10, 'T0006'), ('P6003', 'Michael', datetime.date(2004, 10, 26), 61, 'T0006'), ('P6004', 'David', datetime.date(2001, 9, 22), 22, 'T0006'), ('P6005', 'Daniel', datetime.date(2004, 8, 20), 8, 'T0006'), ('P6006', 'Charles', datetime.date(2003, 7, 20), 10, 'T0006'), ('P6007', 'Kevin', datetime.date(2005, 6, 14), 12, 'T0006'), ('P6008', 'Mathew', datetime.date(2003, 5, 25), 14, 'T0006'), ('P6009', 'Mark', datetime.date(2000, 4, 3), 16, 'T0006'), ('P6010', 'Anthony', datetime.date(1999, 3, 5), 20, 'T0006'), ('P6011', 'Donald', datetime.date(2000, 2, 14), 10, 'T0006'), ('P6012', 'Steven', datetime.date(2000, 5, 1), 30, 'T0006')]
Size of result tuple:  5
P1001 Rudra
P1002 Advik
P1003 Adi
P1004 veer
P1005 Ahmed
P1006 Viyan
P1007 Pramav
P1008 Shlok
P1009 Madhav
P1011 Adam
P1012 Aarush
P2001 Kiaan
P2002 Rudrash
P2003 Tanish
P2004 Anand
P2005 Bhaskar
P2006 Arup
P2007 Srihan
P2008 Advit
P2009 Raghav
P2010 Krishna
P2011 Manas
P2012 Zayan
P3001 Daksh
P3002 Aditya
P3003 Jay
P3004 Ravi
P3005 Suman
P3006 Souvik
P3007 Tanmoy
P3008 Arijit
P3009 Shivansh
P3010 Elvin
P3011 Kabir
P3012 Joseph
P4001 William
P4002 James
P4003 Issac
P4004 Max
P4005 Teddy
P4006 Finley
P4007 Jack
P4008 henry
P4009 Harry
P4010 Charlie
P4011 George
P4012 Alexander
P5001 Mark
P5002 Donald
P5003 Steven
P5004 Paul
P5005 Andrew
P5006 Joshua
P5007 Kevin
P5008 Charles
P5009 George
P5010 Stephen
P5011 Jack
P5012 Jerry
P6001 Mark
P6002 Robert
P6003 Michael
P6004 David
P6005 Daniel
P6006 Charles
P6007 Kevin
P6008 Mathew
P6009 Mark
P6010 Anthony
P6011 Donald
P6012 Steven

# Previous year Questions on PythonDB Connectivity

#### Practise Q3 Output Jersey_no

In [44]:

import psycopg2, sys, os
f = open('./player.txt','r')
name = f.read()
#name = name + "%" query for like 


database = 'flis'
user = 'postgres'
password = 'sidjadhav0602'
port = '5432'
host = 'localhost'

conn = None
try:
    conn = psycopg2.connect(database=database,user=user,password=password,port=port,host=host)
    cur = conn.cursor()
    cur.execute("select name from players where name =%s",(name,))
    #query for is Like : 
    # cur.execute("select name from players where name like %s ",(name,))
    result = cur.fetchall()
    for i in result:
        print(i[0])
    cur.close()
except(Exception,psycopg2.DatabaseError) as error:
    print(error)
finally:
    if conn is not None:
        conn.close()

#### Practice Q4:

In [74]:
f= open('./name.txt')
f_name = f.read()


database = 'university'
user = 'postgres'
password = 'sidjadhav0602'
port = '5432'
host = 'localhost'

conn = None
try: 
    conn = psycopg2.connect(database=database,user=user,password=password,port=port,host=host)
    print("Connection is Established!")

    cur = conn.cursor()
    cur.execute("select roll_no from students where student_fname= %s",(f_name,))

    result = cur.fetchall()
    for i in result:
        print(i[0])
    
    cur.close()
except(Exception,psycopg2.DatabaseError) as error:
    print(error)
finally:
    if conn is not None:
        conn.close()

Connection is Established!
relation "students" does not exist
LINE 1: select roll_no from students where student_fname= 'Vikas
                            ^